.home{
    min-width: 100%;
}

.hero{
    position: relative;
    min-height: 100vh;                 /* “um pouco do main” */
    background-image: url("./image/backgroud.png"); /* se estiver no public */
    background-size: cover;
    background-position: center;

    padding-top: 90px; /* espaço pro header */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
    
    padding-bottom: clamp(24px, 20vh, 150px);
    padding-left: clamp(16px, 6vw, 96px);
}

/* overlay para o texto ficar legível */
/*.hero::before{
  content: "";
  position: absolute;
  inset: 0;
}*/

.Container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 10px;
}

.Container h1{
  display: flex;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: normal;
  white-space: nowrap;
  color: #CBBEA9;
  font-size: clamp(2.1rem, 5.5vw, 4.7rem);
  width: clamp(300px, 36vw, 1200px);
  margin-bottom: 10px;
}

.Container p{
  font-family: "Blinker", sans-serif;
  font-size: clamp(0.8rem, 1.7vw, 2.7rem);
  width: clamp(240px, 49vw, 1200px);
  color: #fff;
  white-space: nowrap;
}

.Container div{
  display: flex;
  gap: 10px;
}

.Container button{
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.9rem, 1.8vw, 1.5rem);
  color: #094532;
  background-color: #CBBEA9;
  border-radius: 40px;
  padding: 21px 35px;
  border: none;
  cursor: pointer;
}

#button-2{
  background-color: rgba(203, 190, 169, 0.6);
}

.espect-descrição{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10%;
  background-color: #DDCEB8;
}

.espect-descrição div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.espect-descrição div img{
  width: 60px;
  height: auto;
}

.espect-descrição div h1{
  font-family: "Frank Ruhl Libre", serif;
  font-size: clamp(1.8rem, 3.5vw, 2.7rem);
  margin: 0;
}

.espect-descrição div p{
  font-family: "Blinker", sans-serif;
  font-size: clamp(0.8rem, 1.9vw, 2.7rem);
  width: clamp(256px, 38vw, 1200px);
  margin: 0;
}

#span-paes{
  margin-left: 10px;
}

.favoritos div{
    display: flex;
    margin: 25px auto;
    flex-direction: column;
    align-items: center;
}

.favoritos div h1{
    font-family: "Frank Ruhl Libre", serif;
    font-size: clamp(1.8rem, 3.5vw, 2.7rem);
    margin: 0;
}

.paragrafo-favorito{
  display: flex;
}

.favoritos div p{
    font-family: "Blinker", sans-serif;
    font-size: clamp(0.8rem, 1.9vw, 2.7rem);
    width: clamp(256px, 38vw, 1200px);
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

#span-descrição{
  margin-left: 10px;
  margin-right: 10px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  width: 90%;
  max-width: 1200px;
  background: linear-gradient(
  to bottom,
  #849f96 20%,
  #8FA39A 40%,
  #E5E5E5 60%,
  #E5E5E5 100%);
}

.cards div{
  background-color: #000;
}
