.home{
    min-width: 100%;
}

.hero{
    position: relative;
    min-height: 70vh;                 /* “um pouco do main” */
    background-image: url("./image/backgroud.png"); /* se estiver no public */
    background-size: cover;
    background-position: center;
    position: relative;

    padding-top: 90px; /* espaço pro header */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
    
    padding-bottom: clamp(24px, 8vh, 120px);
    padding-left: clamp(16px, 6vw, 96px);
}

/* overlay para o texto ficar legível */
/*.hero::before{
  content: "";
  position: absolute;
  inset: 0;
}*/

.Container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 10px;
}

.Container h1{
  display: flex;
  font-family: "Frank Ruhl Libre", serif;
  color: #CBBEA9;
  font-size: clamp(1.1rem, 3.5vw, 2.7rem);
  width: clamp(235px, 34vw, 1200px);
}

.Container p{
  font-family: "Blinker", sans-serif;
  font-size: clamp(0.8rem, 1.7vw, 2.7rem);
  width: clamp(240px, 49vw, 1200px);
  color: #CBBEA9;
}

.Container div{
  display: flex;
  gap: 10px;
}

.Container button{
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.3rem, 1.8vw, 1.1rem);
  color: #094532;
  background-color: #CBBEA9;
  border-radius: 30px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

#button-2{
  background-color: rgba(203, 190, 169, 0.6);
}

